## Initial setup and imports

In [2]:
import os
import numpy as np
import pandas as pd
import xml.etree.ElementTree as ET

## Initial Data Exploration

In [17]:
element_tree = ET.parse(os.path.join('data','ds.xml'))
xml_root = element_tree.getroot()
data_list = []
for establishment in xml_root:
    establistment_dist = {}
    for tag in establishment:
        if tag.tag != 'INSPECTION':
            establistment_dist[tag.tag.lower()] = tag.text.lower() 
    data_list.append(establistment_dist)
dinesafe_df = pd.DataFrame(data_list)

dinesafe_df

,id,name,type,address,latitude,longitude,status
0,9008018,'k' store,food store (convenience/variety),99 carlton st,43.66205,-79.37747,pass
1,10510325,0109 dessert + chocolate,restaurant,"2190 mcnicoll ave, -109",43.81477,-79.29491,pass
2,10500438,1 plus 1 pizza,food take out,361 oakwood ave,43.68725,-79.43842,pass
3,10325728,1-satellite kitchen,food take out,1 blue jays way,43.64168,-79.39012,pass
4,10556602,100% korean,food take out,4779 steeles ave e,43.82529,-79.29867,pass
...,...,...,...,...,...,...,...
17702,10547571,a ! xiang,restaurant,3250 midland ave,43.80514,-79.28761,pass
17703,10691709,fimi kitchens,restaurant,2958 islington ave,43.75729,-79.57019,pass
17704,10429136,iq food co.,restaurant,181 bay st,43.64748,-79.37849,pass
17705,10696752,iqx,restaurant,55 avenue rd,43.67121,-79.39441,pass
17706,10621352,iyellow wine club,cocktail bar / beverage room,243 queen st w,43.65013,-79.38849,pass